<!DOCTYPE html>
        <html lang="pt-BR">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Currículo</title>
        </head>
        <body>
            <h1>Currículo</h1>

            <h2>Informações Pessoais</h2>
            <ul>
                <li><strong>Nome:</strong> Gustavo Henrique</li>
                <li><strong>Idade:</strong> 16</li>
                <li><strong>Email:</strong> 12402095@aluno.cotemig.com.br</li>
                <li><strong>Telefone:</strong> (31) 99307-9294</li>
            </ul>

            <h2>Habilidades</h2>
            <ul>
                <li><strong>HTML/CSS/JS:</strong> Intermediário</li>
                <li><strong>C#:</strong> Intermediário</li>
                <li><strong>MYSQL:</strong> Intermediário</li>
                <li><strong>PYTHON:</strong> Intermediário</li>
                <li><strong>DART:</strong> Básico</li>
                <li><strong>SWIFT:</strong> Básico</li>
                <li><strong>KOTLIN:</strong> Básico</li>
            </ul>

            <h2>Formação acadêmica</h2>
            <ul>
                <li><strong>Cólegio e faculdade COTEMIG</strong></li>
                <li><strong>Curso:</strong> Mobile</li>
                <li><strong>Início:</strong> 2024</li>
                <li><strong>Conclusão:</strong> 2026</li>
            </ul>

            <h2>Certificações</h2>
            <ul>
                <li>Imersão dados com python Alura</li>
                <li>3ª Imersão IA Alura</li>
                <li>GFT Start #6 - Lógica de Programação DIO</li>
                <li>Fundamentos do hardware do Computador e Introdução a Cibersegurança Cisco Networking Academy</li>
            </ul>
        </body>
        </html>